.footer {
	margin-top: 1rem;
	background-color: var(--bg);
	padding: 1rem;
}

.footer article h3 {
	margin-bottom: 0.5rem;
}

@media only screen and (max-width: 768px) {
	.footer article {
		width: 75%;
		margin: 0 auto;
	}
}

@media only screen and (min-width: 768px) {
	.footer {
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;
		align-items: flex-start;
	}
}
