.nav {
	width: 100%;
	overflow: auto;
	margin-bottom: 2rem;
	grid-area: nav;
}

.nav ul {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	list-style-type: none;
	padding: 0;
	float: right;
}

.nav ul li {
	display: block;
}

.nav ul li a {
	font-size: 1em;
}

@media only screen and (min-width: 768px) {
	.nav ul {
		width: 500px;
		height: 25px;
		display: flex;
		justify-content: flex-end;
	}

	.nav ul li {
		margin-right: 1.25rem;
	}
}
