.header {
	border-bottom: 1px dashed var(--headline);
}

.header p,
.header a {
	font-size: 1.5rem;
}

.header a {
	margin: 0 7px;
}

.header .small,
.header .small a {
	font-size: 1rem;
}

.nav {
	width: 100%;
	overflow: auto;
}

.nav ul {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	list-style-type: none;
	padding: 0;
	float: right;
}

@media only screen and (min-width: 768px) {
	.nav ul {
		width: 300px;
		height: 25px;
		grid-template-columns: 1fr 1fr 1fr;
	}
}

.nav ul li {
	display: block;
}

.nav ul li a {
	font-size: 1em;
}
