@media only screen and (min-width: 768px) {
	.main .whoami {
		display: grid;
		grid-template-rows: auto;
		grid-template-areas:
			'nav nav nav nav'
			'. . . .'
			'hero . . article';
	}
}

.hero {
	display: block;
	grid-area: hero;
}

.hero img {
	display: inline-block;
	border-radius: 50%;
}

.article {
	grid-area: article;
	padding: 2rem;
}

.article h1 {
	font-size: 2rem;
}
