@media only screen and (min-width: 768px) {
	.main .whoami {
		display: grid;
		grid-template-rows: auto;
		grid-template-areas:
			'nav nav nav nav'
			'. . . .'
			'hero . . article';
	}
}

.hero {
	display: block;
	grid-area: hero;
}

.hero img {
	display: inline-block;
	border-radius: 50%;
}

.article {
	grid-area: article;
	padding: 2rem;
}

.article h1 {
	font-size: 2rem;
}

.links {
	margin-top: 1rem;
}

.links {
	background-color: var(--bg);
	padding: 1rem;
}

.links article h3 {
	margin-bottom: 0.5rem;
}

@media only screen and (max-width: 768px) {
	.links article {
		width: 75%;
		margin: 0 auto;
	}
}

@media only screen and (min-width: 768px) {
	.links {
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;
		align-items: flex-start;
	}
}
